<%= link_to 'New', new_pet_path %>
<% @pets.each do |pet| %>
  <h2><%= pet.name %></h2>
  <h3><%= pet.address %></h3>
  <%= link_to 'Show', pet_path(pet) %>
  <% if user_signed_in? && policy(pet).edit? %>
    <%= link_to 'Edit', edit_pet_path(pet) %>
  <% end %>
  <% if user_signed_in? && policy(pet).destroy? %>
    <%= link_to 'Delete', pet_path(pet), method: :delete%>
  <% end %>
<% end %>
