<div class="container">
  <h1>My Pets</h1>
  <%= link_to 'New', new_pet_path %>
  <div class="container">
    <div class="row justify-content-center">
      <% @pets.each do |pet| %>
        <% if pet.photo.present? %>
          <div class="cardo" style="max-width: 300px;max-height: 300px;background: white">
        <% else %>
          <div class="cardo">
        <% end %>
          <div class="front">
            <h4><%= pet.name %></h4>
            <h5><%= pet.address %></h5>
            <% if policy(pet).edit? %>
            <%= link_to 'Edit', edit_pet_path(pet) %>
            <% end %>
            <% if policy(pet).destroy? %>
            <%= link_to 'Delete', pet_path(pet), method: :delete%>
            <% end %>
            <% if pet.bookings.any? {|booking| booking.status == 'pending'} %>
              <h6>Pending Bookings</h6>
            <% end %>
            <% pet.bookings.each do |booking| %>
              <% if booking.status == 'pending' %>
                <%= link_to booking.pet.name, show_bookings_path(pet) %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
