<div class="container justify-content-center">
<% if @bookings.any? {|booking| booking.status == 'pending'} %>
<div class="container">
  <div class="column "></div>
  <h1>Pending Bookings</h1>

  <% @bookings.each do |booking| %>
    <% if booking.status == 'pending' %>
    <div class="row justify-content-center">
      <h3><%= booking.user.email %></h3>
      <h4><%= booking.booking_start  %></h4>
      <h5><%= booking.booking_end %></h5>
      <%= link_to 'Accept booking!', accept_booking_path(booking), method: :put %>
      <%= link_to 'Reject booking!', reject_booking_path(booking), method: :put %>
      </row>
    <% end %>
  <% end %>
</div>
<% end %>

<% if @bookings.any? {|booking| booking.status != 'pending'} %>
  <h2>Past Bookings!</h2>

    <% @bookings.each do |booking| %>
      <% if booking.status != 'pending' %>
      <div class="row justify-content-center">
        <div class="bookings">
          <div class="details">
            <h6><%= booking.user.email %></h6>
            <h5><%= booking.booking_start  %></h5>
            <h5><%= booking.booking_end %></h5>
            <h5><%= booking.status %></h5>
          </div>
      <% end %>


    <% if !booking.review.nil? %>
      <div class="review">
        <h3>Review:</h3>
          <p>
            <% booking.review.pet_rating.times do %>
            <i class='fas fa-paw'></i>
            <% end %></p>
            <p><%= booking.review.pet_content %></p>
      </div>

        <% end %>
        </div>
        </div>
    <% end %>
<% end %>
</div>

