<% pending_bookings = @bookings.select {|booking| booking.status == 'pending'} %>
<% other_bookings = @bookings.reject {|booking| booking.status == 'pending'} %>
<%= render 'shared/flashes' %>
<div class="container">
  <h1>My requests</h1>
  <div class="bookings">
    <% pending_bookings.each do |booking| %>
      <div class="details" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(booking.pet.photo) unless booking.pet.photo.blank? %>');">
        <h3><%= booking.pet.name %></h3>
        <h4><%= booking.pet.owner.email %></h4>
        <h5 class= "status <%= booking.status %>"><%= booking.status.capitalize %></h5>
        <%= link_to 'Cancel booking!', cancel_booking_path(booking), method: :put %>
      </div>
    <% end %>
    <% other_bookings.each do |booking| %>
      <div class="details" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(booking.pet.photo) unless booking.pet.photo.blank? %>');">
        <h3><%= booking.pet.name %></h3>
        <h6><%= booking.pet.owner.email %></h6>
        <h5 class= "status <%= booking.status %>"><%= booking.status.capitalize %></h5>

      <% if booking.review.nil? && booking.status == 'accepted'%>
        <%= link_to 'Review!', new_booking_review_path( booking) %>
        </div>
      <% elsif !booking.review.nil? && booking.status == 'accepted' %>
      </div>
      <div class="review">
        <h3>Review:</h3>
          <p>
            <% booking.review.pet_rating.times do %>
            <i class='fas fa-paw'></i>
            <% end %></p>
            <p><%= booking.review.pet_content %></p>
      </div>
       <% else %>
     </div>
        <% end %>
      <% end %>
  </div>
</div>
