
<div>
  <h1>New booking for <%= @pet.name %></h1>
</div>

<div class="container">
  <%= simple_form_for [@pet, @booking] do |f| %>
    <% if @booking.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :booking_start %>
    <%= f.input :booking_end %>
    <%= f.button :submit, "Create", class: "btn btn-primary" %>
  <% end %>
</div>
