<div class="container-h1">
  <h1>These are the results for <strong><%= params[:query] %></strong></h1>
</div>
<main role="main" class="main-container">
  <% @results.each do |result|%>
    <% if current_user != result.owner %>
      <div class="cardo">
         <div class="front" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(result.photo) unless result.photo.blank? %>');">
          <div class="pet-info-front">
            <h3> Call me: <strong><%= result.name %> </strong>, a <em> <%= result.size %> <%= result.species %> </em></h3>
          </div>
        </div>

        <div class="back">
          <div class="pet-info-back">
            <h3>What my owner think about me:</h3>
            <p>
              <q>
                <%= result.details %>
              </q>
            </p>
            <div class="pet-adress">
              <h4> <strong>You can pet me at</strong></h4>
              <mark><em> <%= result.address %> </em></mark>
            </div>
              <div class="cardos-link">
                <div class="child-links">
                  <a href="<%= pet_path(result) %>"><i class="fas fa-map-marker-alt"></i><h5>Meet me!</h5></a>
                </div>
                <div class="child-links">
                  <a href="<%= new_pet_booking_path(result) %>"><i class="fas fa-clipboard-list"></i><h5>Book now</h5></a>
                </div> <!-- NAO EH BOTAO -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
        <% end %>
</main>
